
@model  IEnumerable<Produto>

@{
    ViewData["Title"] = "Listagem de produtos";
}

<h2>Listagem de Produtos</h2>

<table class="table table-md table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cadastro</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var prod in Model)
        {
            <tr>
                <th scope="row" class="bg-primary">@prod.Id</th>
                <td>@prod.Nome</td>
                <td>@prod.Preco</td>
                <td>@prod.Tipo.Nome</td>
                <td>@prod.Tipo.DataCadastro</td>
            </tr>
        }

    </tbody>
</table>
